.container {
  display: grid; 
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1.2fr 0.4fr 1.3fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "top"
    "message-box"
    "bottom"; 
  justify-content: center;
}
.sidebar { 
  grid-area: sidebar; 
  align-items: center;
}

.top {
  grid-area: top;
  width: 50vw
}

.message-box{
  grid-area: message-box;
}

.start {
  background-image: url(../public/title-screen-logo.gif);
  background-repeat: no-repeat; 
  background-size: contain;
}

.bottom {
  grid-area: bottom;
  width: 50vw
}

.blank{
  background-image: url(../public/team-canvas-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "team-1 team-4"
    "team-2 team-5"
    "team-3 team-6"; 
}

.team-1 { grid-area: team-1; }
.team-2 { grid-area: team-2; }
.team-3 { grid-area: team-3; }
.team-4 { grid-area: team-4; }
.team-5 { grid-area: team-5; }
.team-6 { grid-area: team-6; }

.battle-screen {
  background-image: url(../public/battle-background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "cpu-info cpu-pokemon"
    "player-pokemon player-info"; 
}
.cpu-pokemon { 
  grid-area: cpu-pokemon; 
  display: flex;
  justify-content: center;
}
.player-pokemon { 
  grid-area: player-pokemon; 
  display: flex;
  justify-content: center;
}
.cpu-info {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "cpu-pokemon-name"
    "cpu-pokemon-health"; 
  grid-area: cpu-info; 
}
.cpu-pokemon-name { grid-area: cpu-pokemon-name; }
.cpu-pokemon-health { 
  grid-area: cpu-pokemon-health; 
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0 auto; 
  padding: 15px 40px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}
.player-info {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "player-pokemon-name"
    "player-pokemon-health"; 
  grid-area: player-info; 
}
.player-pokemon-name { grid-area: player-pokemon-name; }
.player-pokemon-health { 
  grid-area: player-pokemon-health; 
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0 auto; 
  padding: 15px 40px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.animated-logo {
  width: 75%;
  /* object-fit: cover; */
}

.nb-logo {
  width: 80%;
}

.team-background {
  width: 75%;
  /* object-fit:cover; */
}
.hop {
  animation-name : hop;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : .2s;
}

@keyframes hop {
  from {transform: translateY(0px);}
  to {transform: translateY(10px);}
}

/* .progress {
  background-color:green;
  height: 10px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
} */

.progress {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 4px;
  overflow: hidden;
}

.progress:after {
  /* content: ''; */
  content: attr(hp-content);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transition: 1s ease;
  transition-delay: 0.5s;
  background: green;
}
