.container {
  display: grid; 
  height: 100vh;
  width: 100vw;
  /* grid-template-columns: 0.3fr 0.7fr;  */
  grid-template-rows: 1.5fr 1.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "top"
    "bottom"; 
  justify-content: space-around;
  align-items: stretch;
}
.sidebar { 
  grid-area: sidebar; 
  align-items: center;
}

.top {
  grid-area: top;
  width: 44vw
}

.start {
  background-image: url(../public/title-screen-logo.gif);
  background-repeat: no-repeat; 
  background-size: contain;
}

.bottom {
  grid-area: bottom;
  width: 44vw
}

.blank{
  background-image: url(../public/team-canvas-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.animated-logo {
  width: 75%;
  /* object-fit: cover; */
}

.nb-logo {
  width: 80%;
}

.team-background {
  width: 75%;
  /* object-fit:cover; */
}